 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  input[type="range"] {
    width: 100%;
    height: 3px;
    margin: 1rem auto;
  }
  
  datalist {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
    height: 4.5rem;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }
  .main{
    font-family: 'intern';
    box-sizing: border-box;
    padding: 30px;
    font-size: 25px;
  }
 .btn{
outline: none;
background-color: black;
color: white;
width: 180px;
height: 40px;
font-size: 16px;

 }
 .butn{
    border:1px solid black;
    outline: none;
    width: 180px;
height: 40px;
font-size: 16px;
 }
 .image img{
  margin-top: -30px;
   height: auto;
   width: 45%;
   display: flex;
   float: right;
   
 }


         
#saveinfo{
    border:1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    outline: none;
    width: 180px;
    height: 40px;   
}                                  
.profile-container{
    box-sizing: border-box;
    padding: 60px;
    }                                            
.Editpassword-container{
    box-sizing: border-box;
    padding: 60px;
}
#chnagePass{
border:1px solid black;
background-color: black;
color: white;
font-size: 16px;
outline: none;
width: 180px;
height: 40px;   
}  
#logout{
    
border:1px solid black;
background-color: black;
color: white;
font-size: 16px;
outline: none;
width: 180px;
height: 40px;   
}    
.container{
  box-sizing: border-box;
  padding: 60px;
  }
  
  input{
      width: 100%;
      font-family: 'Inter', sans-serif;
      height: 55px;
     padding: 10px;
     color: black;
  }
  #signup{
      border:1px solid black;
      background-color: black;
      color: white;
      font-size: 16px;
      outline: none;
      width: 180px;
      height: 40px;
  
  }
  